{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>About</h1>
  </div>
  <h2>Team Biography--404 Code Not Found</h2>
  <!---{{state['word_so_far']}}--->
  <p><strong>Cynthia Menna</strong></p>
  <p>    <blockquote>Cynthia is 20 years old and from Newtown, PA. She would like to recite some Backstreet Boys:</blockquote> </p>

  <p> <blockquote> You are my fire, the one desire, believe when I say, I want it that wayyyy </blockquote> </p>

  <p>Emily Na</p>
  <p>    <blockquote>Emily is 20 years old and from San Diego, CA. A fun fact about her is that she likes one Backstreet Boys song. Here is her rendition:</blockquote> </p>

  <p> <blockquote> But we are two worlds apart, can't reach to your heart, when you say, that I want it that way </blockquote> </p>

  <p>Jessica Tai</p>

  <p>Tianyi Gao</p>

  <p>Yessenia Tejeda</p>


{% endblock %}
