{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Hangman</h1>
  </div>
  <p>Here is your word</p>
  {{state['word_so_far']}}
  <form method="post" action="/play">
    Guess a letter: <input type="text" name="guess">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  <p>Here are the letters you've guessed already</p>
  {% for x in state['guesses'] %}
   {{x}}
  {% endfor %}

  {% if letter in state['guesses'] %}
    <p>You already guessed that</p>
    <p>please guess again.</p>

  {% elif letter in state['word'] %}
    <p> Yay! The letter is in the word.</p>
  {% endif %}

  {% if length == 0 %}
      done = True
      <p>You won!</p>

  {% elif letter not in state['word'] %}
    <p>that letter is not in the word. try again. </p>
  {% endif %}

{% endblock %}
